-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.container.center
  .show-bts-logo= image_tag("dns-logo-ico.png", :width => "100")
  %h2= "BitShares DNS"
  .line      
  %h4= "Site is under construction."
  %h4= "For more information check our official"
  %i.fa.fa-github-square= link_to("Twitter Account", "https://twitter.com/BitSharesDNS")